POSTGRES_DB=pndc
POSTGRES_USER=pndc_owner
POSTGRES_PASSWORD=pndc_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://pndc_app:pndc_app_dev@localhost:5432/pndc

PNDC_ENV=dev
